<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/mvp.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <a href="/"><li>Home</li></a>
            </ul>
            <div style="width: 10rem; display: flex; align-items: center; justify-content: space-between; margin-right: 3rem;">
                <form action="/logout" method="POST">
                    <button type="submit" id="logout-btn">Logout</button>
                </form>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <h1>Hello World</h1>
        </section>
    </main>
    <footer></footer>
    <script src="/static/js/modal.js"></script>
</body>
</html>