/* Default */
@import "./reset.css";

/* Animation */
@import "./animation/fade-in.css";

/* Partials */
@import "./partials/header.css";
@import "./partials/footer.css";
@import "./partials/modal.css";

/* Pages */
@import "./pages/home.css";

body{
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    font-family: "Poppins", sans-serif;
    font-weight: 400 !important;
    font-size: 0.9rem;
    letter-spacing: -0.03rem;
}
div{
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}
form {
    box-shadow: none !important;
}
a{
    color: #3498db;
    text-decoration: none;
}
ul{

}
li{
    list-style: none;
}
