.modal-bg
.modal.modal-login
  form.h-64.w-48(action='/login' method='POST')
    h2 Login
    label(for='email-input') Email
    input#email-input(name='email' type='text')
    label(for='email-input') Password
    input#password-input(name='password' type='text')
    button(type='submit') Login
.modal.modal-register
  form.h-64.w-48.transition-opacity(action='/register' method='POST')
    h2 Register
    input(name='name' type='text')
    input(name='email' type='text')
    input(name='password' type='text')
    button(type='submit') Register
header#header
    nav#nav
        ul#menu
            li
                a(href="/") home
            li
                a(href="/") music
            li
                a(href="/") gallery
            if isAdmin
                li
                    a(href="/admin") Admin
        if !userId
            div(style='width: 10rem; display: flex; align-items: center; justify-content: space-between;')
                a#login-btn.bold(style='cursor: pointer;') Login
                a#register-btn.bold(style='cursor: pointer;') Register
        else
            form(action='/logout' method='POST')
                button#logout-btn(type='submit') Logout
