header#header.h-16.w-full
    nav.w-full.p-4.shadow.bg-white
        ul.w-64.flex.items-center.justify-between
            li
                a.font-thin.text-sm(href="/") 홈
            li
                a.font-thin.text-sm(href="/admin") 대쉬보드
            li
                a.font-thin.text-sm(href="/admin/upload") 사진업로드
            li
                a.font-thin.text-sm(href="#") 갤러리설정