#header {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3rem;
    padding-right: 3rem;
}
#nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#menu{
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#menu li{
    min-width: 5rem;
    
}
#menu li a {
    color: #218c74;
}
#login-btn{
    color: #1e272e;
}
#register-btn{
    color: #1e272e;
}