.modal-bg{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
    visibility: hidden;
}
.modal {
    position: absolute;
    display: none;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 30rem;
}
.modal-login {
    display: none;
    place-items: center;
}
.modal-register {
    display: none;
    place-items: center;
}
